<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/vue/1.0.24/vue.min.js"></script>


    <script>
        var datas = [];
        function get(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return decodeURIComponent(r[2]);
            return '';
        }
        var v = null;
        var datas = [];
        function core(str, page) {
            $.get("http://w.wailovet.xyz:4889/?s=" + str + "&p=" + page, function (data) {
                datas = datas.concat(data.data);
                if (!v) {
                    v = new Vue({
                        el: '#main',
                        data: {
                            datas: datas
                        }
                    });
                } else {
                    v.$data.datas = datas;
                }
                $('body').fadeIn();
                $("#load_data").fadeIn();
            })

        }

        var page = parseInt(get('p'));
        if (!page || page < 1) {
            page = 1;
        }
        $(function () {
            var title = get('s');

            new Vue({
                el: '#header',
                data: {
                    title: title
                }
            });


            core(title, page);
            $("#load_data").click(function () {
                $(this).fadeOut();
                page++;
                core(title, page);
            });
            $(window).scroll(function () {

                var viewH = $('body').height(); //可见高度
                var contentH = $('body').get(0).scrollHeight;//内容高度
                var scrollTop = $('body').scrollTop();//滚动高度
                //if(contentH - viewH - scrollTop <= 100) { //到达底部100px时,加载新内容
                console.log(scrollTop / (contentH - viewH));
                if (scrollTop / (contentH - viewH) >= 0.95) { //到达底部100px时,加载新内容
                    // 这里加载数据..
//                    alert("s");
                }
            });


        });


    </script>
    <title>聚合搜索</title>
</head>
<body style="display:none;">
<div class="container-fluid">

    <form class="row" style="background: #eee;padding: 10px;padding-left: 0px;padding-top: 20px;" id="header"
          action="q.html">
        <div class="col-md-1" style="padding: 0;"><a href="./index.html"><img src="./res/img/logo2.png" alt=""
                                                                              style="width: 100%;"></a></div>
        <div class="col-md-5">
            <div class="form-group"><input type="text" v-model="title" class="form-control" id="title" name="s"></div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <button type="submit" class="btn btn-info" style="width: 100%;" id="send">O</button>
            </div>
        </div>
    </form>
    <div id="main" class="row" style="margin-top: 40px;">

        <div class="col-md-1">
        </div>
        <div class="col-md-6">


            <ul class="list-unstyled">
                <li style="margin-top: 5px" v-for="data in datas">
                    <dl>
                        <dt><a href="{{data.href}}" style="font-size: 18px;" target="_blank">{{data.title}}</a></dt>


                        <dd>{{data.desc}}</dd>

                    </dl>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="container-fluid" id="footer" style="margin-bottom: 10px;margin-top: 10px;">

    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-default" style="width: 100%" id="load_data">加载更多</button>
    </div>
    <div class="col-md-4">
    </div>
</div>
</body>
</html>